.error-message {
  text-align: center;
}

.loading-indicator {
  animation: 1s throb infinite;
  padding: 40px;
  text-align: center;
}

@keyframes throb {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.25;
  }
  100% {
    opacity: 1;
  }
}

.module {
  background-color: #ffffff;
  box-shadow: 0 2px 3px rgba(0,0,0,0.15);
  overflow: hidden;
}

@media (min-width: 1024px) {

  .module {
    border-radius: 3px;
  }

}

.responsive-table {
  overflow: auto;
  width: 100%;
}
